body {
  font-family: 'Roboto', sans-serif;
  // background-color: #d4c6b1;
  background-color: black;
}
.home {

  .logo {
      height: 160px;
  }

  .header-image {    
    border-top: 2px dashed @navigation-border;
    @media @mobile {
      max-width: 86%;         
      margin-left: 8%;   
    }
  }

  .pg-title {
    padding: 10px 10px;
    color: white;
  }

  .hd-img { // extra
    // border: 2px solid darkgoldenrod;
    // width: 100%;
    // height: 200px;
    font-size: 3rem;
    text-align: center;

    img {
      border: 1px solid darkgoldenrod;
      width: 100%;
      height: 250px;
      border-radius: 15px;
    }

  }

  .sect-topNine {
    
    .title-topNine {
      margin: 7% 0% 3% 0%;
      height: 40px;
      border: 2px solid black;
      font-size: 3rem;

      h1 {
        color: white;
      }
      
    }

    .middle-content {

      border: solid 1.5px darkgoldenrod;
      border-radius: 8px;
      margin-bottom: 20px;

      .topNine {
        border: 2px solid black;
        display: flex;
        margin-top: 2%;
        margin-bottom: 5%;
        flex-wrap: wrap;
        color: white;

        img {
          width: 200px;
          height: 200px;
          margin-bottom: 20px;
          border-radius: 12px;
        }
      }
      
      .topNine div {
        width: 30%;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 2rem;
        text-align: center;
        height: 289px;
      }
    }

  }
  


}// home